<style>
  #splide-banner {
    max-width: 100%;
    margin: 0 auto;
  }

  .splide__slide picture img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
  .hero-splide .splide__slide a{
    display: block;
  }

  @media (max-width: 767px) {
    .splide__slide picture img {
      object-fit: contain; /* Prevents cropping on mobile */
    }
  }
</style>

<div id="splide-banner" class="splide hero-splide">
    <div class="splide__track">
        <ul class="splide__list">
            {% for block in section.blocks %}
                <li class="splide__slide">
                    <a href="{{ block.settings.link }}" {% if block.settings.link %}target="_blank"{% endif %}>
                        <picture>
                            {% if block.settings.desktop_image %}
                                <source media="(min-width: 768px)" srcset="{{ block.settings.desktop_image | img_url: '2048x2048' }}">
                            {% endif %}
                            {% if block.settings.mobile_image %}
                                <source media="(max-width: 767px)" srcset="{{ block.settings.mobile_image | img_url: '2048x2048' }}">
                            {% endif %}
                            <img src="{{ block.settings.desktop_image | img_url: '2048x2048' }}" alt="Slide">
                        </picture>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function() {
      new Splide('#splide-banner', {
        type: 'loop',
        autoplay: true,
        interval: 3000,  // 3 seconds
        pauseOnHover: false,
        resetProgress: false,
        perPage: 1,
      }).mount();
    });
</script>



{% schema %}
{
  "name": "Hero section",
  "settings": [],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "desktop_image",
          "label": "Desktop Image"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Mobile Image"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hero section"
    }
  ]
}
{% endschema %}